<script type="text/javascript">

  jQuery(document).ready(function(){
  jQuery(".draw_fancybox").fancybox({
  maxWidth    : 1200,
  maxHeight   : 600,
  fitToView   : false,
  width       : '70%',
  height      : '70%',
  autoSize    : false,
  closeClick  : false,
  openEffect  : 'none',
  closeEffect : 'none'
  });
      jQuery(".draw_fancybox2").fancybox({
          maxHeight   : 600,
          fitToView   : false,
          width       : '90%',
          height      : '90%',
          autoSize    : false,
          closeClick  : false,
          openEffect  : 'none',
          closeEffect : 'none'
      });
  });
</script>
<h3 id="answer">解答状況</h3>

<div>
  <% unless ENV['BING_APIKEY'].nil? %>
      <div style="float:left;">
        <% if @plagiarism_have_keyword == 1 && @have_accepted_answer==1 && (@multi_check_todo == 1 || @key_word_change == 1) %>
            <%= button_to "全員のWEB剽窃チェック", lessons_internet_check_path(:lesson_id => @lesson.id,
                                                                                    :student_id => 0,
                                                                                    :question_id => params[:question_id]), {:remote => true , :method => "post",:class=>"btn btn-default", :id => "multi_check_internet" }%>
        <% else %>
          <a class="btn btn-default disabled" >全員のWEB剽窃チェック</a>
        <% end %>
      </div>
      <div style="float:left;">
        <p class ="text_align_user", id='check_message_internet'>WEB剽窃チェックの結果を確認するために、ページを更新してください</p>
      </div>
      <div style="clear:both"></div>
  <% end %>
</div>
<div class="table-responsive">
  <div>
    <div style="float:right;"><p>問題変更前の回答です</p></div>
    <div style="float:right;"><div class="old_version_color_block"></div></div>
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <th>学籍番号</th>
      <th>氏名</th>
      <th>提出時間</th>
      <th>結果</th>
      <th>実行時間(ms)</th>
      <th>メモリ使用量(MB/KB)</th>
      <th>使用言語</th>
      <th>学生同士の類似度</th>
      <% unless ENV['BING_APIKEY'].nil? %>
      <th>WEB剽窃チェック</th>
      <% end %>
    </tr>
    <% @students.each do |student| %>
      <% answer = Answer.latest_answer(:student_id => student.id,
                                       :question_id => params[:question_id],
                                       :lesson_id => @lesson.id,
                                       :lesson_question_id => session[:lesson_question_id]) || Answer.new
         %>

      <tr>
        <td>
          <%unless student.student_number.nil? %>
              <% unless answer.new_record? %>
                <%= link_to(student.student_number, lesson_student_answers_path(:lesson_id => @lesson.id,
                                                                                :question_id => @question.id,
                                                                                :student_id => student.id), :remote => ( @lesson.id != 1)) %>
              <% else %>
                <%= student.student_number %>
              <% end %>
          <% end %>
        </td>
        <td><%= student.name %></td>
        <td><%= answer.created_at %> </td>
        <% if @question.version == answer.question_version %>
          <td><%= RESULT[answer.result] %></td>
        <% else %>
          <% if RESULT[answer.result].to_s.empty?%>
            <td ><%= RESULT[answer.result] %></td>
          <% else %>
            <td class = "old_version_color"><%= RESULT[answer.result] %></td>
          <% end %>
      <% end %>
      <td><%= answer.run_time %></td>
      <td><%= answer.memory_usage %></td>
      <td><%= answer.language.capitalize unless answer.language.nil? %></td>
        <!-- ローカル類似度の表示 -->
        <td>
          <% unless answer.new_record? %>
              <p><%= answer.local_plagiarism_percentage %>%</p>
              <a class="btn btn-default draw_fancybox2" href="#local_checked_results_<%=student.id %>" >内容を確認</a>
          <% end %>
        </td>
        <!-- Localウィンドウ表示内容-->
        <td id="local_checked_results_<%=student.id %>" class="internet-check-results-css test1" >
          <%= render :partial => "questions/local_check_results", :locals => {:student => student, :question => @question, :answer => answer} %>
        </td>
        <td>
          <% title_nil_exist = 0 %>
          <% checked_result = InternetCheckResult.where(:answer_id =>answer.id)%>
          <% nil_title = InternetCheckResult.where(:answer_id =>answer.id, :title => nil)%>
          <% if nil_title.present? %>
              <% nil_title.each do |r| %>
                  <% if r['answer_id'] == answer.id %>
                      <% title_nil_exist = 1 %>
                      <% break %>
                  <% end %>
              <% end %>
          <% end %>
          <% if checked_result.size > 0 && title_nil_exist == 0 %>
              <a class="btn btn-default draw_fancybox" href="#internet_results_checked_question_<%=student.id%>" >表示</a>
          <% elsif title_nil_exist == 1  %>
              <a class="btn btn-default disabled" >チェック中</a>
          <% elsif RESULT[answer.result].to_s.present? %>
            <span>
              <%= button_to "チェック", lessons_internet_check_path(:lesson_id => @lesson.id,
                                                                :student_id => student.id,
                                                                :question_id => params[:question_id]), {:remote => true , :method => "post", :id => "question_ajax_link_#{student.id}",:class=>"btn btn-default" }%>
              <a id="question_display_<%=student.id%>" class="btn btn-default draw_fancybox draw_fancybox_hidden" href="#internet_check_results_<%=student.id %>" >表示</a>
            </span>
          <% else %>
          <% end %>
        </td>
      <% unless ENV['BING_APIKEY'].nil? %>
      <td>
            <% title_nil_exist = 0 %>
            <% http_error_exist = 0 %>
            <% key_word_change = 0 %>
            <% checked_result = InternetCheckResult.where(:answer_id =>answer.id )%>
            <% if checked_result.count != 0 %>
                <% if checked_result.where(:key_word => @question_keyword).count == 0 %>
                    <% key_word_change = 1 %>
                <% end %>
            <% end %>

            <% nil_title = InternetCheckResult.where(:answer_id =>answer.id, :title => nil, :link => nil, :content => nil )%>
            <% if nil_title.present? && nil_title.count > 0 %>
                <% title_nil_exist = 1 %>
            <% end %>

            <% http_error = InternetCheckResult.where(:answer_id =>answer.id, :title => nil, :link => '', :content => '' )%>
            <% if http_error.present? && http_error.count > 0 %>
                <% http_error_exist = 1 %>
            <% end %>
            <% if @plagiarism_have_keyword == 1 %>
                <% if title_nil_exist == 1 && http_error_exist == 0 %>
                    <a class="btn btn-default disabled" >チェック中</a>
                <% elsif title_nil_exist == 1 && http_error_exist == 1 %>
                    <a class="btn btn-default draw_fancybox" href="#internet_results_checked_question_<%=student.id%>" >表示</a>
                <% elsif  key_word_change == 1 %>
                    <span>
                      <%= button_to "チェック", lessons_internet_check_path(:lesson_id => @lesson.id,
                                                                            :student_id => student.id,
                                                                            :question_id => params[:question_id]), {:remote => true , :method => "post", :id => "question_ajax_link_#{student.id}",:class=>"btn btn-default" }%>
                      <a id="question_display_<%=student.id%>" class="btn btn-default draw_fancybox draw_fancybox_hidden" href="#internet_check_results_<%=student.id %>" >表示</a>
                    </span>
                <%else %>
                    <% if checked_result.size > 0 && title_nil_exist == 0 && http_error_exist == 0 %>
                        <a class="btn btn-default draw_fancybox" href="#internet_results_checked_question_<%=student.id%>" >表示</a>
                    <% elsif RESULT[answer.result].to_s.present? && answer.result== 'A'  %>
                        <span>
                          <%= button_to "チェック", lessons_internet_check_path(:lesson_id => @lesson.id,
                                                                                :student_id => student.id,
                                                                                :question_id => params[:question_id]), {:remote => true , :method => "post", :id => "question_ajax_link_#{student.id}",:class=>"btn btn-default" }%>
                          <% if http_error_exist !=1 %>
                            <a id="question_display_<%=student.id%>" class="btn btn-default draw_fancybox draw_fancybox_hidden" href="#internet_check_results_<%=student.id %>" >表示</a>
                          <% elsif http_error_exist == 1 && checked_result.size > 0 %>
                            <a class="btn btn-default draw_fancybox" href="#internet_results_checked_question_<%=student.id%>" >表示</a>
                          <% end %>
                        </span>
                    <% end %>
                <% end %>
            <% end %>

      </td>
      <td style="display:none">
        <div id="internet_results_checked_question_<%=student.id%>" class="internet-check-results-css" >
          <p>学生：<%= student.name %></p>
          <p>問題：<%= @question.title %></p>
          <% max_time = 0 %>
          <% checked_result.each do |r|%>
              <% if r['repeat'].to_i > 1 %>
                  <% max_time=r['repeat'].to_i %>
                  <% break %>
              <% end %>
          <% end %>
          <% if max_time > 1 %>
              <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出しました</p>
              <% checked_result.each do |result| %>
                  <div class="hero-unit2">
                    <p>関連タイトル：<%= result['title'] %></p>
                    <p>関連リンク：<%= link_to result['link'],"#{result['link']}", :target => ["'_blank'"] %></p>
                    <p>回数：<%= result['repeat'] %></p>
                    <p>内容：<%= result['content'] %></p>
                  </div>
              <% end %>
          <% elsif http_error_exist == 1 %>
              <p>剽窃チェックができませんでした。以下の問題が考えられます。</p>
              <p>(1)インターネットの接続に問題がありませんか。</p>
              <p>(2)検索回数の上限を超えてませんか。</p>
              <p>設定を確認したら、再チェックを行なってください。</p>
          <%else %>
              <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出できませんでした</p>
          <%end %>
        </div>
      </td>

      <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%  @students.each do |student| %>
  <div id="internet_check_results_<%=student.id %>" class="internet-check-results-css" >
  </div>
<% end %>
