<h3 id="answer">解答状況</h3>
<div class="table-responsive">
<div>
  <div style="float:right;"><p>問題変更前の回答です</p></div>
  <div style="float:right;"><div class="old_version_color_block"></div></div>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>学籍番号</th>
    <th>氏名</th>
    <th>提出時間</th>
    <th>結果</th>
    <th>実行時間(ms)</th>
    <th>メモリ使用量(MB/KB)</th>
    <th>使用言語</th>
    <th>学生類似度</th>
    <th>WEB類似度</th>

  </tr>
  <% @students.each do |student| %>
    <% answer = Answer.latest_answer(:student_id => student.id,
                                     :question_id => params[:question_id],
                                     :lesson_id => @lesson.id) || Answer.new
       %>

    <tr>
      <td>
        <% unless answer.new_record? %>
          <%= link_to(student.student_number, lesson_student_answers_path(:lesson_id => @lesson.id,
                                                                          :question_id => @question.id,
                                                                          :student_id => student.id), :remote => ( @lesson.id != 1)) %>
        <% else %>
          <%= student.student_number %>
        <% end %>
      </td>
      <td><%= student.name %></td>
      <td><%= answer.created_at %> </td>
      <% if @question.version == answer.question_version %>
          <td><%= RESULT[answer.result] %></td>
      <% else %>
          <% if RESULT[answer.result].to_s.empty?%>
              <td ><%= RESULT[answer.result] %></td>
          <% else %>
              <td class = "old_version_color"><%= RESULT[answer.result] %></td>
          <% end %>
      <% end %>
      <td><%= answer.run_time %></td>
      <td><%= answer.memory_usage %></td>
      <td><%= answer.language.capitalize unless answer.language.nil? %></td>
      <td><%= answer.plagiarism_percentage %></td>
      <td></td>
    </tr>
  <% end %>
</table>
</div>
