<div id="question_new">
  <%= link_to '問題詳細に戻る', lesson_question_path(:lesson_id => params[:lesson_id], :question_id => @question_id),:remote => true ,:class=>"btn btn-default btn_top"  %>
  <% @title='問題編集' %>
  <h1>問題編集</h1>
  <%= nested_form_for(@question ,:remote=>true ,:url =>lesson_question_path(:lesson_id => @lesson_id,:question_id =>@question_id)) do |f| %>
      <div>
        <%= f.label :title , 'タイトル' %><span>(<span class="inputnote">＊</span>)</span><br/>
        <%= f.text_field :title ,:cols => 150 , :maxlength => 200, :class=>"text-area-css1"  ,required: 'required' %>
      </div>
      <div>
        <%= f.label :content , '内容'%><span>(<span class="inputnote">＊</span>)</span><br/>
        <%= f.text_area :content ,:rows => 10 , :class=>"text-area-css1",required: 'required' %>
      </div>
      <div>
        <%= f.label :input_description , '入力説明' %><br/>
        <%= f.text_area :input_description,:rows => 2 , :class=>"text-area-css1"  %>
      </div>
      <div>
        <%= f.label :output_description , '出力説明'%><br/>
        <%= f.text_area :output_description, :rows => 2 , :class=>"text-area-css1"  %>
      </div>
      <div class="field_question">
        <fieldset id="question_keywords">
          <legend>剽窃チェック用のキーワード</legend>
          <%= f.fields_for :question_keywords do |builder| %>
              <%= builder.label :keyword,"キーワード" %>
              <%= builder.text_field :keyword , :size => 100   %>
              <%= builder.link_to_remove "削除" %>
          <% end %>
          <%= f.link_to_add "追加",:question_keywords  %>
      </fieldset>
    </div>

    <div class="field_question">
      <%= f.label :lesson_questions,"開始と終了時間" %><br/>
      <%= f.fields_for :lesson_questions do |builder| %>
        <% if builder.object.id.to_s == session[:lesson_question_id] %>
          <%= builder.label :start_time, '開始時間' %>
          <%= builder.text_field :start_time, :placeholder => "yy-mm-dd hh:mm:ss" , :readonly => "readonly" ,:class=>'datepicker1'  %>
          <%= builder.label :end_time, '終了時間' %>
          <%= builder.text_field :end_time, :placeholder => "yy-mm-dd hh:mm:ss" , :readonly => "readonly" ,:class=>'datepicker2' %>
        <% end %>
      <% end %>
    </div>

    <div class="field_question">
      <fieldset id="samples">
        <legend>入出力サンプル(<span class="inputnote">＊</span>)</legend>
        <%= f.fields_for :samples do |builder| %>
          <% if builder.object.is_deleted then next end %>
            <%= builder.label :input,"入力" %>
            <%= builder.text_area :input , required: 'required', style:'resize: vertical', :rows => 4 , :cols => 40  %>
            <%= builder.label :output ,"出力" %>
            <%= builder.text_area :output  , required: 'required' , style:'resize: vertical',  :rows => 4 , :cols => 40  %>
            <%= builder.link_to_remove "削除" %>
          <% end %>
          <%= f.link_to_add "追加",:samples  %>
      </fieldset>
    </div>

    <div class="field_question">
      <fieldset id="test_data">
        <legend>解答用データ(<span class="inputnote">＊</span>)</legend>
        <%= f.fields_for :test_data do |builder| %>
          <% if builder.object.is_deleted then next end %>
            <div>
              <div class="left">
                <%= builder.label :input, "入力" %>
                <%= builder.text_field :input, :readonly => "readonly"%>
              </div>
              <div class="left">
                <%= builder.label :output, "出力" %>
                <%= builder.text_field :output, :readonly => "readonly" %>
              </div>
              <%= builder.link_to_remove "削除"%>
            </div><br>
          <% end %>

          <% i = 0 %>
          <%= f.fields_for :test_data do |builder| %>
            <% if i < 1 %>

            <div class="left">
              <%= builder.label :input, "入力" %>
              <%= builder.file_field :input, required: 'required' %>
            </div>
            <div class="left">
              <%= builder.label :output, "出力" %>
              <%= builder.file_field :output, required: 'required' %>
            </div>
            <p class="help-block">ファイルサイズは10MBまで</p>
            <%= builder.link_to_remove "削除"%>
            <%= builder.hidden_field :id, value: nil %>
            <br>
            <% i += 1 %>
          <% end %>
        <% end %>
        <%= f.link_to_add "追加",  :test_data %>
        <% i = 0 %>
      </fieldset>
    </div>


    <div>
      <%= f.hidden_field :version  %>
      <%= f.label :run_time_limit , '時間制限'%>（単位：ms）
      <%= f.number_field :run_time_limit, min: 1, step: 1 , size: 40 %><br/>
    </div>
    <div>
      <%= f.label :memory_usage_limit , 'メモリ制限'%>（単位：MB）
      <%= f.number_field :memory_usage_limit,  min: 1, step: 1 ,size: 40  %><br/>
    </div>
    <br>
    <div>
      <% if @is_public %>
        <%= f.label :is_public, 'この問題は既に公開されています．非公開にする場合は管理者に問い合わせてください．' %>
      <% else %>
        <%= f.check_box :is_public, {:onclick => 'publicCheck(this)', :disabled => @is_public}, 'true', 'false' %>
              <%= f.label :is_public, 'この問題を一般に公開する場合はチェックしてください．' %>
              <p style="color:red">
                パブリック化した問題は非パブリック化できません．
              </p>
            <% end %>
    </div>
    <div class="btn_submit">
      <%= f.submit '登録',:class=>'btn btn-primary' %>
    </div>

    <% end %>
</div>

<%= javascript_include_tag "questions/question.js" %>
