
<div class="form-group row">
  <%= f.label :title , 'タイトル', class: 'col-md-2 control-label'%>
  <%= f.text_field :title, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= f.label :content , '内容', class: 'col-md-2 control-label'%>
  <%= f.text_field :content, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= f.label :input_description , '入力説明', class: 'col-md-2 control-label'%>
  <%= f.text_field :input_description, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= f.label :output_description , '出力説明', class: 'col-md-2 control-label'%>
  <%= f.text_field :output_description, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= g.label :input , '入力サンプル', class: 'col-md-2 control-label'%>
  <%= g.text_field :input, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= g.label :output , '出力サンプル', class: 'col-md-2 control-label'%>
  <%= g.text_field :output, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= f.label :run_time_limit , '時間制限', class: 'col-md-2 control-label'%>
  <%= f.text_field :run_time_limit, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= f.label :memory_usage_limit , 'メモリ制限', class: 'col-md-2 control-label'%>
  <%= f.text_field :memory_usage_limit, class: 'col-md-8 form-control'%>
</div>
<div class="form-group row">
  <%= f.label :cpu_usage_limit , 'CPU制限', class: 'col-md-2 control-label'%>
  <%= f.text_field :cpu_usage_limit, class: 'col-md-8 form-control'%>
</div>