<%= render "layouts/notice" %>
<div class="btn-right">
    <% if @is_teacher %>
        <%= link_to "問題新規作成",new_lesson_question_path(:lesson_id => @lesson.id) ,:remote => true ,:class=>"btn btn-primary" %>
    <% end %>
</div>
<div>
  <h2>問題一覧</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>問題ID</th>
        <th>問題名</th>
        <% if @lesson.id != 1 %>
            <th>開始時間</th>
            <th>終了時間</th>
        <% end %>
        <% unless @is_teacher %>
            <th>結果</th>
            <th>解答</th>
            <th>解答詳細</th>
        <% end %>
      </tr>
      <% @questions.each.with_index(1) do |question, i| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if @lesson.id != 1 %>
                <%= link_to(question.title, lesson_question_path(:lesson_id => params[:lesson_id], :question_id => question.id),:remote =>true) %>
              <% else %>
                <%= link_to(question.title, question_path(:question_id => question.id)) %>
              <% end %>
            </td>

            <% if @lesson.id != 1 %>
                <td>
                  <% if @lesson.lesson_questions.find_by(:question_id => question.id).start_time.nil? %>
                      <%= @lesson.lesson_questions.find_by(:question_id => question.id).start_time %>
                  <% else %>
                      <%= @lesson.lesson_questions.find_by(:question_id => question.id).start_time.strftime(" %Y /  %m / %d - %H:%M:%S ")  %>
                  <% end %>
                </td>
                <td>
                  <% if @lesson.lesson_questions.find_by(:question_id => question.id).end_time.nil? %>
                      <%= @lesson.lesson_questions.find_by(:question_id => question.id).end_time %>
                  <% else %>
                      <%= @lesson.lesson_questions.find_by(:question_id => question.id).end_time.strftime(" %Y /  %m / %d - %H:%M:%S ") %>
                  <% end %>
                </td>
            <% end %>

            <% unless @is_teacher %>
                <% @latest_answer = Answer.latest_answer(:student_id => current_user.id,
                                                         :question_id => question.id,
                                                         :lesson_id => @lesson.id) || Answer.new %>
                <td><%= Answer::RESULT[@latest_answer.result] %></td>
                <td>
                  <% if @lesson.id != 1 %>
                    <!--現在時間と開始時間・終了時間を比較し、時間内かどうかを確認する-->
                    <% if (@lesson.lesson_questions.find_by(:question_id => question.id).start_time.nil? ||
                            @lesson.lesson_questions.find_by(:question_id => question.id).start_time.to_time < Time.now) &&
                      (@lesson.lesson_questions.find_by(:question_id => question.id).end_time.nil? ||
                            Time.now < @lesson.lesson_questions.find_by(:question_id => question.id).end_time.to_time) %>
                      <%= link_to('解答', lesson_question_path(:lesson_id => params[:lesson_id], :question_id => question.id) + '#answer',
                                  :remote => true, class: 'btn btn-default') %>
                    <% else %>
                      <%= link_to('解答', lesson_question_path(:lesson_id => params[:lesson_id], :question_id => question.id),
                                  :disabled => true, :remote => true, class: 'btn btn-default') %>
                    <% end %>
                  <% else %>
                    <%= link_to('解答', question_path(:question_id => question.id) + '#answer', class: 'btn btn-default') %>
                  <% end %>
                </td>
                <td>
                  <% if @lesson.id != 1 %>
                    <%= link_to('解答詳細', answers_lesson_question_path(:lesson_id => @lesson.id, :question_id => question.id),
                                :disabled => (@latest_answer.new_record?), :remote => true, class: 'btn btn-default') %>
                  <% else %>
                    <%= link_to('解答詳細', answers_question_path(:question_id => question.id),
                                :disabled => (@latest_answer.new_record?), class: 'btn btn-default') %>
                  <% end %>

                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<% flash[:previous] = 'questions' %>
