<% unless answer.new_record? %>
    <% unless answer.local_plagiarism_percentage == 0.0 %>
        <!--データベースからデータを取得-->
        <% local_check_result = LocalCheckResult.find_by(:answer_id => answer.id) %>
        <% @target_line = local_check_result.target_line %>
        <% @compare_line = local_check_result.compare_line %>
        <% @target_path = @target_file = UPLOADS_ANSWERS_PATH.join(student.id.to_s, answer.lesson_question_id.to_s, answer.file_name).to_s %>
        <% @compare_path = local_check_result.compare_path %>
        <% compare_user = User.find_by(:id => local_check_result.compare_user_id) %>
        <% compare_lesson_question =  LessonQuestion.find_by(:id => local_check_result.compare_lesson_question_id)%>
        <% compare_question = Question.find_by(:id => compare_lesson_question.question_id) %>
        <% color = ["yellow","blue","purple","green","red"] %>

        <!--Mark the check line-->
        <% tar_starts_temp = @target_line.scan(/\d+-/) %>
        <% tar_starts = tar_starts_temp.map(&:to_i) %>
        <% tar_ends_temp = @target_line.split(/\d+-/) %>
        <% tar_ends = tar_ends_temp.map(&:to_i) %>
        <% tar_ends.delete_at(0) %>

        <% com_starts_temp = @compare_line.scan(/\d+-/) %>
        <% com_starts = com_starts_temp.map(&:to_i) %>
        <% com_ends_temp = @compare_line.split(/\d+-/) %>
        <% com_ends = com_ends_temp.map(&:to_i) %>
        <% com_ends.delete_at(0) %>

        <!--ソースコード内容の取得-->
        <% @target_code = show_local(@target_path) %>
        <% @compare_code = show_local(@compare_path) %>
        <div class="check_results">
          <div class="check_result">
            <p>元のファイル：<%= answer.file_name %></p>
            <p>学生名：<%= student.name %></p>
            <p>ニックネーム：<%= student.nickname %></p>
            <p>授業名：<%= answer.lesson.name %></p>
            <p>問題：<%= question.title %></p>
            <% if answer.lesson_question.start_time.present? %>
              <p>問題の開始時間：<%= answer.lesson_question.start_time.to_s %></p>
            <% end %>
            <% if answer.lesson_question.end_time.present? %>
                <p>問題の終了時間：<%= answer.lesson_question.end_time.to_s %></p>
            <% end %>
            <p>ソースコード：</p>
            <div class="hero-unit3">
              <table class="local-check">

              <% col = nil %>
              <% @target_code.each_with_index do |line, i| %>
                    <tr>
                      <% if tar_starts.include?(i + 1) %>
                        <% col = color[tar_starts.index(i + 1) % 5] %>
                      <% end %>
                      <% if tar_ends.include?(i) %>
                        <% col = nil %>
                      <% end %>

                      <td><%= i + 1 %></td>
                      <td class=<%= col %>><pre id="code"> <%= remove_head(line).chomp %> </pre></td>
                    </tr>
              <% end %>
              </table>
            </div>
          </div>

          <div class="check_result">
            <p>検出した類似ファイル：<%= local_check_result.compare_name %></p>
            <p>学生名：<%= compare_user.name %></p>
            <p>ニックネーム：<%= compare_user.nickname %></p>
            <p>授業名：<%= compare_lesson_question.lesson.name %></p>
            <p>問題：<%= compare_question.title %></p>
            <% if compare_lesson_question.start_time.present? %>
                <p>問題の開始時間：<%= compare_lesson_question.start_time.to_s %></p>
            <% end %>
            <% if compare_lesson_question.end_time.present? %>
                <p>問題の終了時間：<%= compare_lesson_question.end_time.to_s %></p>
            <% end %>
            <p>ソースコード：</p>
            <div class="hero-unit3">
              <table class="local-check">
                <% col = nil %>
                <% @compare_code.each_with_index do |line, i| %>
                    <tr>
                      <% if com_starts.include?(i + 1) %>
                          <% col = color[com_starts.index(i + 1) % 5] %>
                      <% end %>
                      <% if com_ends.include?(i) %>
                          <% col = nil %>
                      <% end %>

                      <td><%= i + 1 %></td>
                      <td class=<%= col %>><pre id="code"> <%= remove_head(line).chomp %> </pre></td>
                    </tr>
              <% end %>
              </table>
            </div>
          </div>
        </div>
    <% else %>
        <p>類似ファイルは検出できませんでした！</p>
    <% end %>
<% end %>