<div id="question_new">
  <%= link_to '問題一覧に戻る', lesson_questions_path(:lesson_id =>params[:lesson_id]  ),:remote => true ,:class=>"btn btn-default btn_top"  %>
  <% @title='問題新規作成' %>
  <h1><%= @title %></h1>
  <%= nested_form_for(@question ,:remote=>true ,:url=>{:controller=>"questions", :action=>"create"} ) do |f| %>
      <div>
        <%= f.label :title , 'タイトル' %><span>(<span class="inputnote">＊</span>)</span><br/>
        <%= f.text_area :title ,:rows => 2 , :class=>"text-area-css1"  ,required: 'required' %>
      </div>
      <div>
        <%= f.label :content , '内容'%><span>(<span class="inputnote">＊</span>)</span><br/>
        <%= f.text_area :content ,:rows => 10 , :class=>"text-area-css1",required: 'required' %>
      </div>
      <div>
        <%= f.label :input_description , '入力説明' %><br/>
        <%= f.text_area :input_description,:rows => 2 , :class=>"text-area-css1"  %>
      </div>
      <div>
        <%= f.label :output_description , '出力説明'%><br/>
        <%= f.text_area :output_description, :rows => 2 , :class=>"text-area-css1"  %>
      </div>
      <div class="field_question">
        <%= f.label :lesson_questions,"開始と終了時間" %><br/>
        <%= f.fields_for :lesson_questions do |builder| %>
            <%= builder.hidden_field :lesson_id , :value=>@lesson_id %>
            <%= builder.hidden_field :question_id , :value=>(@question_id +1) %>
            <%= builder.label :start_time, '開始時間' %>
            <%= builder.text_field :start_time, :placeholder => "yy-mm-dd hh:mm:ss" , :readonly => "readonly" ,:class=>'datepicker1'  %>
            <%= builder.label :end_time, '終了時間' %>
            <%= builder.text_field :end_time, :placeholder => "yy-mm-dd hh:mm:ss" , :readonly => "readonly" ,:class=>'datepicker2' %>
        <% end %>
        <%= f.fields_for :lesson_questions do |builder| %>
            <%= builder.hidden_field :lesson_id , :value=>1 %>
            <%= builder.hidden_field :question_id , :value=>(@question_id +1)%>
        <% end %>
      </div>

      <div class="field_question">
        <%= f.label :samples,"入出力サンプル" %><span>(<span class="inputnote">＊</span>)</span><br/>
        <%= f.fields_for :samples do |builder| %>
            <fieldset>
              <%= builder.hidden_field :question_id , :value=>(@question_id +1) %>
              <%= builder.label :input,"入力" %>
              <%= builder.text_area :input , required: 'required',  :rows => 4 ,  :class=>"text-area-css2"  %>
              <%= builder.label :output ,"出力" %>
              <%= builder.text_area :output  , required: 'required' ,  :rows => 4 ,  :class=>"text-area-css2"   %>
              <%= builder.link_to_remove "削除" %>
            </fieldset>
        <% end %>
        <%= f.link_to_add "追加",:samples  %>
      </div>

      <div class=" field_question">
        <%= f.label :test_data,"解答用データ" %><br/>
        <%= f.fields_for :test_data do |builder| %>
            <fieldset>
              <%= builder.hidden_field :question_id , :value=>(@question_id +1) %>
              <%= builder.label :input,"入力" %>
              <%= builder.text_area :input  ,required: 'required',  :rows => 4 ,:class=>"text-area-css2"  %>
              <%= builder.label :output ,"出力" %>
              <%= builder.text_area :output  , required: 'required',  :rows => 4 ,:class=>"text-area-css2" %>
              <%= builder.link_to_remove "削除"%>
            </fieldset>
        <% end %>
        <%= f.link_to_add "追加",  :test_data %>
      </div>

      <div>
        <%= f.label :run_time_limit , '時間制限'%>（単位：ms）
        <%= f.number_field :run_time_limit,  size: 20 %><br/>
      </div>
      <div>
        <%= f.label :memory_usage_limit , 'メモリ制限'%>（単位：MB）
        <%= f.number_field :memory_usage_limit,  size: 20 %><br/>
      </div>


      <div class="btn_submit">
        <%= f.submit '登録',:class=>'btn-default' %>
      </div>

  <% end %>
</div>
<%= javascript_include_tag "questions/question_timepicker" %>




