<style>
    .description {
        font-size: medium;
    }

</style>
<%= render "layouts/notice" %>
<% if params[:lesson_id] %>
    <%= link_to '問題一覧に戻る', lesson_questions_path(:lesson_id =>params[:lesson_id]  ),:remote => true ,:class=>"btn btn-default btn_top"  %>
<% else %>
    <%= link_to '問題一覧', questions_path, :class => "btn btn-default btn_top" %>
<% end %>

<h2><%= @question.title %></h2>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tr>
      <th></th>
      <th>結果</th>
      <th>実行時間(ms)</th>
      <th>メモリ使用量(MB/KB)</th>
    </tr>
    <tr>
      <td>制限</td>
      <td>-</td>
      <td><%= @question.run_time_limit %> ms</td>
      <td><%= @question.memory_usage_limit %> MB</td>
    </tr>
    <% unless @is_teacher %>
        <tr>
          <td>提出物</td>
          <% if @latest_answer.nil? %>
              <td>-</td>
              <td>-</td>
              <td>-</td>
          <% else %>
              <td><%= RESULT[@latest_answer.result] %></td>
              <td><%= @latest_answer.run_time.round %> ms</td>
              <% if @latest_answer.memory_usage / 1024 == 0 %>
                  <td><%= "#{@latest_answer.memory_usage} KB" %></td>
              <% else %>
                  <td><%= "#{@latest_answer.memory_usage / 1024} MB" %></td>
              <% end %>
          <% end %>
        </tr>
    <% end %>
  </table>
  <% unless @latest_answer.nil? %>
      <%= link_to("解答詳細", lesson_question_user_answers_path(:controller => 'answers',
                                                            :action => 'index',
                                                            :lesson_id => @lesson.id,
                                                            :question_id => @question.id,
                                                            :user_id => current_user.id), :remote => ( @lesson.id != 1), class: 'btn btn-default') %>
  <% end %>
</div>

<h3>説明</h3>
<div class="bg-success description">
  <%= @question.content %>
</div>
<h3>入力</h3>
<div class="bg-success description">
  <%= @question.input_description %>
</div>
<h3>出力</h3>
<div class="bg-success description">
  <%= @question.output_description %>
</div>

<div name="samples">
  <h3>入出力例</h3>
  <ul>
    <% @question.samples.each.with_index(1) do |sample, i| %>
        <li><h4>入力<%= i %></h4></li>
        <div class="bg-success">
          <%= sample.input %>
        </div>
        <li><h4>出力<%= i %></h4></li>
        <div class="bg-success">
          <%= sample.output %>
        </div>
        <hr size="3" noshade="noshade">
    <% end %>
  </ul>
</div>
<% if @is_teacher %>
  <%= render "answers" %>
<% else %>
  <%= render "upload_form" %>
<% end %>
