<h3 id="answer">投稿</h3>
<%= form_tag({:controller => "answers", :action =>  "create"}, :remote=> (@lesson.id!=1), :authenticity_token => true, :multipart => true) do |f| %>
  <div class="answer form-group" name="answer">
    <div class="answer form-group" name="language">
      <%= label_tag :language, '使用言語' %>
      <%= select_tag :language, options_for_select(@languages), :class => 'form-control', :style => 'width:220px' %>
    </div>
    <div class="answer form-group" name="upload_form">
      <%= label_tag :upload_file, 'ファイル選択' %>
      <%= file_field_tag :upload_file, :disabled => (@latest_answer.result == "P" unless @latest_answer.nil?) %>
      <p class="help-block">ファイルサイズは10MBまで</p>
    </div>
    <%= hidden_field_tag :lesson_id, params[:lesson_id] %>
    <%= hidden_field_tag :question_id, params[:question_id] %>
    <%= submit_tag 'アップロード', :class => 'btn btn-primary', :disabled => (@latest_answer.result == "P" unless @latest_answer.nil?) %>
  </div>
<% end %>
