<h2>問題一覧</h2>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <tr>
    <th>問題ID</th>
    <th>問題名</th>
    <th>結果</th>
    <% if @lesson %>
      <th>開始時間</th>
      <th>終了時間</th>
    <% end %>
    <th>解答</th>
    <th>履歴</th>
  </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.title %></td>
      <td> - </td>
      <% if @lesson %>
        <td><%= @lesson.lesson_questions.find_by(:question_id => question.id).start_time.strftime(" %Y /  %m / %d - %H:%M:%S ") %></td>
        <td><%= @lesson.lesson_questions.find_by(:question_id => question.id).end_time.strftime(" %Y /  %m / %d - %H:%M:%S ") %></td>
      <% end %>
      <td> - </td>
      <td> - </td>
    </tr>
  <% end %>
</table>
</div>
<div>
  <%= link_to "問題作成", :controller => "questions", :action => "new" %>
</div>
