<%= link_to '戻る', :controller => 'questions', :action => 'index'  %>
<% @title='問題新規作成' %>
<h1><%= @title %></h1>
<div id="question_new">
  <%= nested_form_for @question   do |f| %>
      <div>
        <%= f.label :title , 'タイトル' %><br/>
        <%= f.text_area :title , :rows => 2 , :cols => 80  ,required: 'required' %>
      </div>
      <div>
        <%= f.label :content , '内容'%><br/>
        <%= f.text_area :content , :rows => 10 , :cols => 80,required: 'required' %>
      </div>
      <div>
        <%= f.label :input_description , '入力説明' %><br/>
        <%= f.text_area :input_description, :rows => 2 , :cols => 80  %>
      </div>
      <div>
        <%= f.label :output_description , '出力説明'%><br/>
        <%= f.text_area :output_description, :rows => 2 , :cols => 80  %>
      </div>
      <div>
        <%= f.label :start , 'start' %>
        <%= f.text_field :start , :class=>'datepicker' %>
        <%= f.label :close , 'close' %>
        <%= f.text_field :close , :class=>'datepicker2' %>
      </div>

      <div class="field_question">
        <%= f.label :samples,"テスト用サンプル" %><br/>
        <%= f.fields_for :samples do |builder| %>
        <fieldset>
          <%= builder.label :input,"入力" %>
          <%= builder.text_area :input , :rows => 4 , :cols => 40  %>
          <%= builder.label :output ,"出力" %>
          <%= builder.text_area :output  , :rows => 4 , :cols => 40  %>
          <%= builder.link_to_remove "削除" %>
        </fieldset>
        <% end %>
        <%= f.link_to_add "追加",:samples  %>
      </div>

      <div class=" field_question">
        <%= f.label :test_data,"解答用サンプル" %><br/>
        <%= f.fields_for :test_data do |builder| %>
        <fieldset>
          <%= builder.label :input,"入力" %>
          <%= builder.text_area :input  , :rows => 4 , :cols => 40  %>
          <%= builder.label :output ,"出力" %>
          <%= builder.text_area :output  , :rows => 4 , :cols => 40 %>
          <%= builder.link_to_remove "削除"%>
        </fieldset>
        <% end %>
        <%= f.link_to_add "追加",  :test_data %>
      </div>

      <div>
        <%= f.label :run_time_limit , '時間制限'%><br/>
        <%= f.text_field :run_time_limit,  size: 20 %>
      </div>
      <div>
        <%= f.label :memory_usage_limit , 'メモリ制限'%><br/>
        <%= f.text_field :memory_usage_limit,  size: 20 %>
      </div>
      <div>
        <%= f.label :cpu_usage_limit , 'CPU制限' %><br/>
        <%= f.text_field :cpu_usage_limit , size: 20 %>
      </div>

      <div>
        <%= f.submit '登録' %>
      </div>

  <% end %>
</div>





