<h1>クラス作成</h1>
<%= form_for :article, url: articles_path do |f| %>
    <div>
      <%= f.label :クラス名 %><br>
      <%= f.text_field :クラス名 %>
    </div>
    <div>
      <%= f.label :説明 %><br>
      <%= f.text_area :説明 %>
    </div>
    <%= f.submit %>

<% end %>