<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% resource = User.new(flash[:resource]) %>
  <div class="field">
    <%= f.label :student_number, "学籍番号" %><br />
    <%= f.text_field :student_number, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :nickname, "ニックネーム" %>(<span class="inputnote">＊</span>)<br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>(<span class="inputnote">＊</span>)<br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>(<span class="inputnote">＊</span>)
    <% if @minimum_password_length %>
    <em>(パスワードは <%= @minimum_password_length %>~255文字にしてください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワードの確認" %>(<span class="inputnote">＊</span>)<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
