<h2>教員新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :id_number, "学籍番号" %><br />
    <%= f.text_field :id_number %>
  </div>

  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :nickname, "ニックネーム" %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= hidden_field_tag :role, 0 %>
  </div>

  <!-- <div class="field"> -->
  <!--   <%= f.label :faculty, "学部・学群" %><br /> -->
  <!--   <%= f.text_field :faculty %> -->
  <!-- </div> -->

  <!-- <div class="field"> -->
  <!--   <%= f.label :department, "学科・学類" %><br /> -->
  <!--   <%= f.text_field :department %> -->
  <!-- </div> -->

  <!-- <div class="field"> -->
  <!--   <%= f.label :grade, "学年" %><br /> -->
  <!--   <%= f.select :grade, [["1", 1], ["2", 2], ["3", 3], ["4", 4]] %> -->
  <!-- </div> -->

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワードの確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
