<div>
  <h2>学生解答詳細</h2>
  <div class="questions_list">
    <div>
      <h3>問題<%= @question_id %></h3>
    </div>
    <table class="table table-striped">
      <tr>
        <th>バージョン</th>
        <th>提出時間</th>
        <th>結果</th>
        <th>実行時間</th>
        <th>消耗メモリ</th>
        <th>言語</th>
        <th>開始時間</th>
        <th>終了時間</th>
        <th>学生類似度</th>
        <th>WEB類似度</th>
      </tr>


      <% @question_diff_detail.each do |m| %>
          <tr>
            <td><%= link_to m.file_name,  { :action => :select_version, :selected_file => m.file_name ,:selected_path =>@path_directory },  :method => "POST", :remote => true%></td>
            <td><%= m.created_at %></td>
            <td><%= m.result %></td>
            <td><%= m.run_time %></td>
            <td><%= m.memory_usage %></td>
            <td><%= m.language %></td>
            <td><%= @dead_date_question.start_time%></td>
            <td><%= @dead_date_question.end_time%></td>
            <td><%= m.plagiarism_percentage %></td>
            <td><%=  %></td>
          </tr>
      <% end %>
    </table>

  </div>

  <div >
    <p><span>比較するバージョン</span>
      <text id="select_file_user"><%= @file_name %></text>
      <text id="diff_select_directory"><%= @path_directory %></text>
      <%= collection_select(:id, :file_name, @question_diff_detail, :id, :file_name ,{:prompt => "なし"},{:id=>'diff_select'})%>
    </p>
    <div id="diff_area">
        <% File.open(@path, 'r:utf-8') do |f| %>
            <% f.each_line do |line| %>
            <p><%=line %></p>
            <% end %>
        <% end %>
    </div>
  </div>

</div>