<div>
  <p>学生：<%= @student.name %></p>
  <p>問題：<%= @question.title %></p>
  <% max_time = 0 %>
  <% http_error_result = 0 %>
  <% if @check_result_count == 0 %>
    <% @result.each do |item|%>
      <% if item[2] > 1 %>
          <% max_time=item[2] %>
          <% break %>
      <% end %>
    <% end %>

    <% if  @result.size >0  %>
      <% len = @result.size %>
      <% if @result[len-1][0] =='http_error' %>
          <% http_error_result = 1 %>
      <% end %>
    <% end %>

    <% if max_time > 1 && http_error_result == 0 %>
      <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出しました</p>
      <% index=1 %>
      <%@result.each do |item| %>
          <% if index >5 %>
              <% break %>
          <% end %>
          <div class="hero-unit2">
            <p>関連タイトル：<%= item[0] %></p>
            <p>関連リンク：<%= link_to item[1],"#{item[1]}", :target => ["'_blank'"] %></p>
            <p>回数：<%= item[2] %></p>
            <p>内容：<%= item[3] %></p>
          </div>
          <% index +=1 %>
      <% end %>
    <% elsif http_error_result == 1 %>
      <p>剽窃チェックができませんでした。以下の問題が考えられます。</p>
      <p>(1)インターネットの接続に問題がありませんか。</p>
      <p>(2)検索回数の上限を超えてませんか。</p>
      <p>設定を確認したら、再チェックを行なってください。</p>
    <% else %>
      <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出できませんでした</p>
    <% end %>

  <% else %>
    <% @check_result.each do |r|%>
      <% if r['repeat'] > 1 %>
          <% max_time=r['repeat'] %>
          <% break %>
      <% end %>
    <% end %>
    <% if max_time > 1 %>
      <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出しました</p>
      <% @check_result.each do |result| %>
          <div class="hero-unit2">
            <p>関連タイトル：<%= result['title'] %></p>
            <p>関連リンク：<%= link_to result['link'],"#{result['link']}", :target => ["'_blank'"] %></p>
            <p>回数：<%= result['repeat'] %></p>
            <p>内容：<%= result['content'] %></p>
          </div>
      <% end %>

    <% else %>
      <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出できませんでした</p>
    <% end %>

  <% end %>
</div>