<script type="text/javascript">

    jQuery(document).ready(function(){
        jQuery(".draw_fancybox").fancybox({
            maxWidth    : 800,
            maxHeight   : 600,
            fitToView   : false,
            width       : '70%',
            height      : '70%',
            autoSize    : false,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none'
        });
        jQuery(".draw_fancybox2").fancybox({
            maxHeight   : 500,
            fitToView   : false,
            width       : '90%',
            height      : '90%',
            autoSize    : false,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none',
        });
    });
</script>
<%= link_to "学生一覧に戻る", students_lessons_path(:lesson_id => params[:lesson_id]), :remote => true , :method => "GET" , :class=>"btn btn-default btn_top" %>
<h1>学生詳細ページ</h1>

  <table class="student">
    <tbody>
      <tr>
        <th>名前</th>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <th>学籍番号</th>
        <td><%= @student.student_number %></td>
      </tr>
      <tr>
        <th>emailアドレス</th>
        <td><%= @student.email %></td>
      </tr>
    </tbody>
  </table>
<h2>解答状況</h2>
<div>
  <div>
    <div style="float:right;"><p>問題変更前の回答です</p></div>
    <div style="float:right;"><div class="old_version_color_block"></div></div>
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <th>問題番号</th>
      <th>問題名</th>
      <th>結果</th>
      <th>実行時間(ms)</th>
      <th>メモリ使用量(MB/KB)</th>
      <th>終了時間</th>
      <th>提出</th>
      <th>学生同士の類似度</th>
      <th>Internet Copy Check</th>
    </tr>
    <% num = 0 %>
    <% @lesson_questions.each do |lesson_question| %>
        <tr>
          <% if lesson_question['is_deleted'] == true  %>
              <% next %>
          <% end %>

          <% num = num + 1 %>
          <% question = Question.find_by(:id => lesson_question.question_id) %>
          <% answer = Answer.where(:lesson_id => @lesson_id ,:student_id => @student.id ,:question_id => lesson_question.question_id, :lesson_question_id => lesson_question.id).last %>
          <td><%= num  %></td>
          <% unless answer.nil? %>
              <td><%= link_to question.title, lesson_student_answers_path(:lesson_id => @lesson_id,
                                                                          :question_id => question.id,
                                                                          :student_id => @student.id,
                                                                          :lesson_question_id => lesson_question.id),:remote => true  %></td>
              <% if question.version == answer.question_version %>
                  <td><%= RESULT[answer.result] %></td>
              <% else %>
                  <% if RESULT[answer.result].to_s.empty?%>
                      <td ><%= RESULT[answer.result] %></td>
                  <% else %>
                      <td class = "old_version_color"><%= RESULT[answer.result] %></td>
                  <% end %>
              <% end %>
              <td><%= answer.run_time %></td>
              <% if answer.memory_usage / 1024 == 0 %>
                  <td><%= "#{answer.memory_usage} KB" %></td>
              <% else %>
                  <td><%= "#{answer.memory_usage / 1024} MB" %></td>
              <% end %>
              <td><%= lesson_question.end_time %></td>
              <td><%= answer.created_at %></td>
              <!-- ローカル類似度表示 -->
              <td>
                <span>
                  <% unless answer.new_record? %>
                    <p><%= answer.local_plagiarism_percentage %>%</p>
                    <a class="btn btn-default draw_fancybox2" href="#local_checked_results_<%=lesson_question.question_id %>" >内容を確認</a>
                  <% end %>
                </span>
              </td>
              <td>
                <% checked_result = InternetCheckResult.where(:answer_id =>answer.id)%>
                <% if checked_result.size > 0 %>
                    <a class="btn btn-default draw_fancybox" href="#internet_results_checked_<%=lesson_question.question_id %>" >表示</a>
                <% else %>
                    <span>
                      <%= button_to "チェック", lessons_internet_check_path(:lesson_id => @lesson_id,
                                                                        :student_id => @student.id,
                                                                        :question_id => lesson_question.question_id ), {:remote => true , :method => "post", :id => "ajax_link_#{lesson_question.question_id}",:class=>"btn btn-default" }%>
                      <a id="display_<%=lesson_question.question_id%>" class="btn btn-default draw_fancybox draw_fancybox_hidden" href="#internet_check_results_<%=lesson_question.question_id %>" >表示</a>
                    </span>
                <% end %>
              </td>
              <!-- Localウィンドウ表示内容-->
              <div id="local_checked_results_<%=lesson_question.question_id %>" class="internet-check-results-css" >
                <% unless answer.new_record? %>
                    <% unless answer.local_plagiarism_percentage == 0.0 %>
                        <%= render :partial => "questions/local_check_results", :locals => {:student => @student, :question => question, :answer => answer} %>
                    <% else %>
                        <p>類似ファイルは存在しません</p>
                    <% end %>
                <% end %>
              </div>
              <div id="internet_results_checked_<%=lesson_question.question_id %>" class="internet-check-results-css" >
                <p>学生：<%= @student.name %></p>
                <p>問題：<%= question.title %></p>
                <% max_time = 0 %>
                <% checked_result.each do |r|%>
                    <% if r['repeat'].to_i > 1 %>
                        <% max_time=r['repeat'].to_i %>
                        <% break %>
                    <% end %>
                <% end %>
                <% if max_time > 1 %>
                    <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出しました</p>

                    <% checked_result.each do |result| %>
                        <div class="hero-unit2">
                            <p>関連タイトル：<%= result['title'] %></p>
                            <p>関連リンク：</p><%= link_to result['link'],"#{result['link']}", :target => ["'_blank'"] %>
                            <p>回数：<%= result['repeat'] %></p>
                            <p>内容：<%= result['content'] %></p>
                        </div>
                    <% end %>

                <%else %>
                    <p>WEB剽窃チェックの結果：解答に関連があるWEBページを検出できませんでした</p>
                <%end %>
              </div>
          <% else %>
              <td><%= question.title %></td>
              <td><p>-</p></td>
              <td><%= %></td>
              <td><%= %></td>
              <td><%= lesson_question.end_time %></td>
              <td><%= %>
              <td></td>
              <td>
                <span>
                  <%= button_to "チェック", lessons_internet_check_path(:lesson_id => @lesson_id,
                                                                  :student_id => @student.id,
                                                                  :question_id => lesson_question.question_id ), :remote => true , :disabled => "true", :id => "ajax_link_#{lesson_question.question_id}", :method => "post", :class=>"btn btn-default" %>
                </span>
              </td>
          <% end %>
        </tr>
    <% end %>

  </table>
</div>
<% flash[:previous] = "student" %>
<%  @lesson_questions.each do |lesson_question| %>
<div id="internet_check_results_<%=lesson_question.question_id %>" class="internet-check-results-css" >
</div>
<% end %>
