<h1>授業新規作成</h1>
<%= form_for @lesson do |f| %>
    <p>
      <%= f.label :name , '授業名'%><br>
      <%= f.text_field :name , :col => 80%>
    </p>



    <p>
      <%= f.label :description , '説明'%><br>
      <%= f.text_area :description , :rows => 10 , :cols => 80%>
    <p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
