<h1><%= @lesson.name %></h1>
<p>開講学期: <%= @lesson.term %> - <%= @lesson.period %>限</p>
<p>講義の説明: <%= @lesson.description %></p>
<p>教員:
  <% @teachers.each_with_index do |teacher, i| %>
    <%= teacher.name %>
    <% if i + 1 < @teachers.count %>
    ,
  <% end %>
<% end %>
</p>
