
<div id ="proftab">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" id = "home_tab"><a>ホーム</a></li>

    <li role="presentation" id = "questions_tab" ><%= link_to  "問題",  lesson_questions_path(:lesson_id =>@lesson.id ),
                                         :remote => true , :data => { :toggle=>"tab"} %></li>
    <% if @is_teacher %>
        <li role="presentation" id = "students_tab"><%= link_to  "学生",  students_lessons_path(:lesson_id =>@lesson.id ),
                                             :remote => true , :data => { :toggle=>"tab"} %></li>
    <% end %>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <%= render "lessons/lesson_details" %>
  </div>
  <div class="tab-pane" id="tab2">
  </div>
  <div class="tab-pane" id="tab3">
  </div>
</div>
<script>
    var tmp = <%=@is_teacher %>;
    if(tmp==true){
        $('#navbar ul').prepend('<li><%= link_to "権限：教員", '' %></li');
    }else{
        $('#navbar ul').prepend('<li><%= link_to "権限：学生", '' %></li');
    }

    $('#home_tab').click(function(){

        var str_url = "/ajax/lessons/tab_back_home";
        $.ajax({
            url: str_url,
            type: "GET",
            data:{
                lesson_id:"<%=@lesson.id %>"
            }
        });
    });
</script>
