<ul>
<% unless notice.nil? %>
  <div class="alert alert-success">
    <% notice_message = Array(notice) %>
    <% notice_message.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<% unless alert.nil? %>
  <% alert_message = Array(alert)%>
  <div class="alert alert-danger">
    <% alert_message.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
</ul>

<ul class="nav nav-tabs">
<li class="active col-sm-3" id="header_tab1"><a href="#tab1" data-toggle="tab">ログイン</a></li>
<li class="col-sm-3" id="header_tab2"><a href="#tab2" data-toggle="tab">新規登録</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">
    <%= render  :partial => "devise/sessions/signin"  %>
  </div>
  <div class="tab-pane fade" id="tab2">
    <%= render  :template => "devise/registrations/new"  %>
  </div>
</div>

<%= render "devise/shared/links" %>
<%= javascript_include_tag "goto_tab.js" %>
