<nav class="navbar  navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Procs", root_path,  class: 'navbar-brand logo' %>
      <% if user_signed_in? %>
        <%= link_to '問題', questions_path, class: 'navbar-brand logo' %>
        <% if current_user.has_role?(:root) || current_user.has_role?(:admin) %>
          <%= link_to '管理画面', '/admin', class: 'navbar-brand logo' %>
        <% end %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Logged in as ' + current_user.nickname, '' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log in / Sign up', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
